@use "sass:math";
$ff: 'black';

    $header-bg-color: rgb(148, 185, 216);
    $header-text-color: #282c34;
    $main-bg-color: #dddcdc;
    $main-text-color: #282c34;



    $headerDark-bg-color: rgb(76, 130, 175);
    $headerDark-text-color: #f9f9f9;
    $mainDark-bg-color: #282c34;
    $mainDark-text-color: #f9f9f9;
    $secondDark-bg-color: #393e47;
